name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

jobs:
  release:
    uses: ivoronin/github-workflows/.github/workflows/release.yml@main
    with:
      language: go
    secrets: inherit
